@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@700&family=Orbitron:wght@600;900&display=swap');

* {
  transition: all 0.3s;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.home {
  font-family: 'League Spartan', sans-serif;
}

.skillIcons span {
  width: 9vh;
}

@media (max-width: 991.98px) { 
  .skillIcons span {
    width: 8vh;
    margin-right: -7px;
    margin-left: -7px;
  }
}

@media (max-width: 767.98px) { 
  .aboutSec h1{
    margin-right: -40px;
  }

  .aboutSec h6{
    margin-right: -25px;
  }

  .aboutSec img{
    margin-right: -25px;
  }

  .skillIcons div {
    margin-right: -35px;
  }

  .skillIcons h1 {
    margin-right: 10px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
